
@media (max-width: 768px) {
  .home-image .content {
    top: 20%;
    text-align: center;
  }
  .info .images {
    position: relative;
  }
  .info .images .icon{
    display: none;

  }
  .info .image .content{
    top: 20%;
  } 
  .solar-kit .cards .card{
    width: 100%;
  }
  .image-solar-kit .content h1{
    font-size: 20px;
  }
  .image-solar-kit .content p{
    font-size: 15px;
  }
  .container-energy .cards-energy .card{
    width: 100%;
  }
  .our-values .cards .card {
    width: 100%;
  }
  .what-they-say .container {
    flex-wrap: wrap;
    display: flex;
}
  .what-they-say .content {
    width: 100%;
}
.what-they-say .card {
  width: 100%;
}
}